Repository sylvester-francis/Resource-Reserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, no-print-statements, check-python-encoding, check-init-files

pytest-check:
  name: pytest (Python tests)
  entry: pytest
  language: system
  pass_filenames: false
  always_run: false
  args:
  - --maxfail=1
  - --tb=short
  - -q

no-print-statements:
  name: Check for print statements
  entry: Avoid using print() in production code, use logging instead
  language: pygrep
  pattern: print\(

check-python-encoding:
  name: Check Python file encoding
  entry: Missing coding declaration
  language: pygrep
  pattern: ^(?!.*coding[:=])

check-init-files:
  name: Check for __init__.py files
  entry: python -c "import os, sys; [sys.exit(1) if not os.path.exists(os.path.join(root, '__init__.py')) else None for root, dirs, files in os.walk('app') if any(f.endswith('.py') for f in files)]"
  language: system
  pass_filenames: false

feat(update): Documentation update
  docs/deployment.md
  docs/quick-start.md
  docs/safari-login-fix.md
  docs/troubleshooting.md
Due: none

feat(update): Documentation update
  docs/safari-login-fix.md
Due: none

fix: Apply ruff formatting and update CHANGELOG
  CHANGELOG.md
  app/main.py
  app/services.py
Due: no-print-statements, check-python-encoding, check-init-files

feat: Add CodeOwners
  .github/CODEOWNERS
Due: none

feat: Add authentication (Oauth2)
  app/auth_routes.py
  app/auth_schemas.py
  app/main.py
  app/mfa.py
  app/models.py
  app/oauth2.py
  app/rbac.py
  pyproject.toml
  requirements.txt
  scripts/migrate_auth.py
Due: no-print-statements, check-python-encoding, check-init-files

feat: Add authentication (Oauth2) to cli
  docs/auth-guide.md
  scripts/migrate_auth.py
  tests/test_auth_endpoints.py
  tests/test_auth_features.py
Due: pytest-check, check-python-encoding

feat: Add README update
  README.md
  cli/auth_commands.py
  cli/client.py
  cli/main.py
Due: no-print-statements, check-python-encoding

Feature/auth integration (#9)
  README.md
  app/auth_routes.py
  app/auth_schemas.py
  app/main.py
  app/mfa.py
  app/models.py
  app/oauth2.py
  app/rbac.py
  cli/auth_commands.py
  cli/client.py
  cli/main.py
  docs/auth-guide.md
  pyproject.toml
  requirements.txt
  scripts/migrate_auth.py
  tests/test_auth_endpoints.py
  tests/test_auth_features.py
Due: pytest-check, no-print-statements, check-python-encoding, check-init-files

ci-cd fixes
  app/auth_schemas.py
  app/rbac.py
  pyproject.toml
Due: no-print-statements, check-python-encoding, check-init-files

ci-cd fixes
  .mise.toml
  README.md
  docs/deployment.md
Due: none

ci-cd fixes
  frontend-next/src/components/availability-dialog.tsx
  frontend-next/src/components/history-dialog.tsx
  frontend-next/src/components/mfa-dialog.tsx
  frontend-next/src/components/reservations-tab.tsx
  frontend-next/src/components/resources-tab.tsx
  frontend-next/src/lib/api.test.ts
Due: none

ci-cd fixes
  frontend-next/src/components/availability-dialog.tsx
  frontend-next/src/components/history-dialog.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/reservations-tab.tsx
  frontend-next/src/components/resources-tab.tsx
  frontend-next/src/components/ui/button.tsx
  frontend-next/src/lib/date.ts
Due: none

UI fixes
  frontend-next/src/app/layout.tsx
  frontend-next/src/components/availability-dialog.tsx
  frontend-next/src/components/mfa-dialog.tsx
Due: none

UI fixes
  frontend-next/src/app/dashboard/page.tsx
  frontend-next/src/app/error.tsx
  frontend-next/src/app/global-error.tsx
  frontend-next/src/app/globals.css
  frontend-next/src/app/layout.tsx
  frontend-next/src/app/login/page.tsx
  frontend-next/src/app/not-found.tsx
  frontend-next/src/app/page.tsx
  frontend-next/src/components/availability-dialog.tsx
  frontend-next/src/components/health-dialog.tsx
  frontend-next/src/components/history-dialog.tsx
  frontend-next/src/components/mfa-dialog.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/pages/home-client.tsx
  frontend-next/src/components/pages/login-client.tsx
  frontend-next/src/components/reservation-dialog.tsx
  frontend-next/src/components/ui/alert-dialog.tsx
  frontend-next/src/components/ui/badge.tsx
  frontend-next/src/components/ui/button.tsx
  frontend-next/src/components/ui/card.tsx
  frontend-next/src/components/ui/dialog.tsx
  frontend-next/src/components/ui/input.tsx
  frontend-next/src/components/ui/tabs.tsx
Due: none

Admin panel implementation
  app/main.py
  app/models.py
  app/schemas.py
  app/services.py
  app/setup.py
  app/setup_routes.py
  cli/auth_commands.py
  cli/client.py
  cli/main.py
  cli/setup_commands.py
  frontend-next/src/app/admin/roles/page.tsx
  frontend-next/src/app/setup/page.tsx
  frontend-next/src/components/pages/admin-roles-client.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/pages/home-client.tsx
  frontend-next/src/components/pages/login-client.tsx
  frontend-next/src/components/pages/setup-client.tsx
Due: no-print-statements, check-python-encoding, check-init-files

Admin panel - proper setup implementation
  app/setup_routes.py
  frontend-next/src/components/pages/home-client.tsx
  frontend-next/src/components/pages/login-client.tsx
Due: no-print-statements, check-python-encoding, check-init-files

Admin panel - proper setup implementation
  frontend-next/src/middleware.ts
Due: none

Gate first-run setup by user count and deliver admin role management (#11)
  app/main.py
  app/models.py
  app/schemas.py
  app/services.py
  app/setup.py
  app/setup_routes.py
  cli/auth_commands.py
  cli/client.py
  cli/main.py
  cli/setup_commands.py
  frontend-next/src/app/admin/roles/page.tsx
  frontend-next/src/app/setup/page.tsx
  frontend-next/src/components/pages/admin-roles-client.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/pages/home-client.tsx
  frontend-next/src/components/pages/login-client.tsx
  frontend-next/src/components/pages/setup-client.tsx
  frontend-next/src/middleware.ts
Due: no-print-statements, check-python-encoding, check-init-files

feat: Add API versioning (/api/v1) and rate limiting
  IMPLEMENTATION_PLAN.md
  PROGRESS_TRACKER.md
  app/config.py
  app/main.py
  docs/api-reference.md
  frontend-next/src/lib/api.test.ts
  frontend-next/src/lib/api.ts
  pyproject.toml
  tests/conftest.py
  tests/test_api/test_auth.py
  tests/test_api/test_reservations.py
  tests/test_api/test_resources.py
Due: pytest-check, no-print-statements, check-python-encoding, check-init-files

docs: Update progress tracker for PR #1
  PROGRESS_TRACKER.md
Due: none

docs: Mark PR #1 as created
  PROGRESS_TRACKER.md
Due: none

fix: Add slowapi and pydantic-settings to requirements.txt for CI
  requirements.txt
Due: none

feat: Add API versioning (/api/v1) and rate limiting (#12)
  IMPLEMENTATION_PLAN.md
  PROGRESS_TRACKER.md
  app/config.py
  app/main.py
  docs/api-reference.md
  frontend-next/src/lib/api.test.ts
  frontend-next/src/lib/api.ts
  pyproject.toml
  requirements.txt
  tests/conftest.py
  tests/test_api/test_auth.py
  tests/test_api/test_reservations.py
  tests/test_api/test_resources.py
Due: pytest-check, no-print-statements, check-python-encoding, check-init-files

feat: Add refresh token support for secure session management
  PROGRESS_TRACKER.md
  app/auth.py
  app/main.py
  app/models.py
  frontend-next/src/hooks/use-auth.test.ts
  frontend-next/src/hooks/use-auth.ts
  frontend-next/src/lib/api.ts
  tests/test_api/test_auth.py
Due: pytest-check, no-print-statements, check-python-encoding, check-init-files

docs: Mark PR #2 as created
  PROGRESS_TRACKER.md
Due: none

feat: Add refresh token support for secure session management (#13)
  PROGRESS_TRACKER.md
  app/auth.py
  app/main.py
  app/models.py
  frontend-next/src/hooks/use-auth.test.ts
  frontend-next/src/hooks/use-auth.ts
  frontend-next/src/lib/api.ts
  tests/test_api/test_auth.py
Due: pytest-check, no-print-statements, check-python-encoding, check-init-files

Add account lockout and password policy
  PROGRESS_TRACKER.md
  README.md
  app/auth.py
  app/main.py
  app/models.py
  app/schemas.py
  app/utils/__init__.py
  app/utils/password.py
  frontend-next/src/components/pages/login-client.tsx
  frontend-next/src/components/password-strength-meter.tsx
  tests/test_api/test_auth.py
  tests/test_services/test_user_service.py
Due: pytest-check, no-print-statements, check-python-encoding, check-init-files

Update progress tracker for PR #3
  PROGRESS_TRACKER.md
Due: none

Account security: lockout + password policy (#14)
  PROGRESS_TRACKER.md
  README.md
  app/auth.py
  app/main.py
  app/models.py
  app/schemas.py
  app/utils/__init__.py
  app/utils/password.py
  frontend-next/src/components/pages/login-client.tsx
  frontend-next/src/components/password-strength-meter.tsx
  tests/test_api/test_auth.py
  tests/test_services/test_user_service.py
Due: pytest-check, no-print-statements, check-python-encoding, check-init-files

Add cursor pagination and load-more lists
  PROGRESS_TRACKER.md
  app/main.py
  app/schemas.py
  app/services.py
  frontend-next/src/components/history-dialog.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/pagination.tsx
  frontend-next/src/components/reservations-tab.tsx
  frontend-next/src/components/resources-tab.tsx
  frontend-next/src/hooks/use-pagination.ts
  frontend-next/src/lib/date.ts
  frontend-next/src/types/index.ts
  tests/test_api/test_reservations.py
  tests/test_api/test_resources.py
Due: pytest-check, no-print-statements, check-python-encoding, check-init-files

Update progress tracker for PR #4
  PROGRESS_TRACKER.md
Due: none

Stabilize frontend tests for bun
  frontend-next/src/hooks/use-auth.test.ts
  frontend-next/src/lib/api.test.ts
  frontend-next/src/test/ensure-dom.ts
Due: none

Fix bun test compatibility
  frontend-next/src/hooks/use-auth.test.ts
  frontend-next/src/lib/api.test.ts
Due: none

Fix bun test failures
  frontend-next/src/hooks/use-auth.test.ts
  frontend-next/src/lib/api.test.ts
Due: none

Fix logout redirect and api test
  frontend-next/src/hooks/use-auth.test.ts
  frontend-next/src/hooks/use-auth.ts
  frontend-next/src/lib/api.test.ts
Due: none

Build fix
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/pages/home-client.tsx
  frontend-next/src/hooks/use-auth.test.ts
  frontend-next/src/hooks/use-auth.ts
  frontend-next/src/types/jsdom.d.ts
Due: none

Add cursor pagination and load-more lists (#15)
  PROGRESS_TRACKER.md
  app/main.py
  app/schemas.py
  app/services.py
  frontend-next/src/components/history-dialog.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/pages/home-client.tsx
  frontend-next/src/components/pagination.tsx
  frontend-next/src/components/reservations-tab.tsx
  frontend-next/src/components/resources-tab.tsx
  frontend-next/src/hooks/use-auth.test.ts
  frontend-next/src/hooks/use-auth.ts
  frontend-next/src/hooks/use-pagination.ts
  frontend-next/src/lib/api.test.ts
  frontend-next/src/lib/date.ts
  frontend-next/src/test/ensure-dom.ts
  frontend-next/src/types/index.ts
  frontend-next/src/types/jsdom.d.ts
  tests/test_api/test_reservations.py
  tests/test_api/test_resources.py
Due: pytest-check, no-print-statements, check-python-encoding, check-init-files

Path conditions:
  pytest-check: any of: ^tests/.*\.py$
  no-print-statements: any of: ^(app|cli)/.*\.py$, but not: ^(tests|scripts)/
  check-python-encoding: any of: \.py$, but not: ^(tests|venv|\.venv)/
  check-init-files: any of: ^app/.*\.py$
