Repository sylvester-francis/Resource-Reserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

Path conditions:
  pytest-check: any of: ^tests/.*\.py$
  frontend-lint: any of: ^frontend-next/.*\.(ts|tsx|js|jsx)$
  frontend-build: any of: ^frontend-next/.*\.(ts|tsx|js|jsx|css)$
  frontend-test: any of: ^frontend-next/.*\.(ts|tsx)$
  check-init-files: any of: ^app/.*\.py$

feat: Add enhanced rate limiting and API quotas
  app/core/rate_limiter.py
  app/main.py
  app/models.py
  app/routers/quotas.py
  migrations/versions/b7c8d9e0f1a2_add_api_quota_tables.py
  tests/conftest.py
  tests/test_rate_limiter.py
Due: pytest-check, check-init-files

feat: Add webhook support for external integrations (PR #14)
  app/main.py
  app/models.py
  app/routers/webhooks.py
  app/webhook_service.py
  migrations/versions/c3d4e5f6a7b8_add_webhook_tables.py
  tests/test_webhooks.py
Due: pytest-check, check-init-files

feat: Add resource groups and hierarchies (PR #12)
  app/main.py
  app/models.py
  app/routers/resource_groups.py
  migrations/versions/d5e6f7a8b9c0_add_resource_groups.py
  tests/conftest.py
  tests/test_resource_groups.py
Due: pytest-check, check-init-files

feat: Improve dark mode with transitions and theme selector (PR #16)
  frontend-next/src/app/globals.css
  frontend-next/src/app/layout.tsx
  frontend-next/src/components/theme-toggle.tsx
Due: frontend-lint, frontend-build, frontend-test

feat: Add Progressive Web App (PWA) support (PR #8)
  frontend-next/public/icons/icon-192x192.svg
  frontend-next/public/manifest.json
  frontend-next/public/offline.html
  frontend-next/public/sw.js
  frontend-next/src/app/layout.tsx
  frontend-next/src/components/InstallPWA.tsx
  frontend-next/src/components/ServiceWorkerRegistration.tsx
Due: frontend-lint, frontend-build, frontend-test

feat: Add internationalization (i18n) support (PR #15)
  app/core/__init__.py
  app/core/i18n.py
  frontend-next/messages/en.json
  frontend-next/messages/es.json
  frontend-next/messages/fr.json
  frontend-next/next.config.mjs
  frontend-next/package-lock.json
  frontend-next/package.json
  frontend-next/src/app/layout.tsx
  frontend-next/src/components/LanguageSelector.tsx
  frontend-next/src/i18n.ts
  tests/test_i18n.py
Due: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

feat: Add E2E testing with Playwright (PR #19)
  .github/workflows/e2e.yml
  frontend-next/.gitignore
  frontend-next/e2e/auth.spec.ts
  frontend-next/e2e/global-setup.ts
  frontend-next/e2e/reservations.spec.ts
  frontend-next/e2e/resources.spec.ts
  frontend-next/e2e/waitlist.spec.ts
  frontend-next/package.json
  frontend-next/playwright.config.ts
Due: frontend-lint, frontend-build, frontend-test

feat: Add MkDocs documentation site (PR #20)
  .gitignore
  docs/admin/analytics.md
  docs/admin/business-hours.md
  docs/admin/roles.md
  docs/admin/users.md
  docs/api/authentication.md
  docs/api/overview.md
  docs/api/reservations.md
  docs/api/resources.md
  docs/api/users.md
  docs/api/webhooks.md
  docs/development/architecture.md
  docs/development/contributing.md
  docs/development/deployment.md
  docs/development/testing.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/user-guide/calendar.md
  docs/user-guide/dashboard.md
  docs/user-guide/reservations.md
  docs/user-guide/resources.md
  docs/user-guide/waitlist.md
  mkdocs.yml
Due: none

fix: Add emoji extension for Material icons in docs
  mkdocs.yml
Due: none

feat: Make mise tasks robust and self-healing
  .mise.toml
Due: none

docs: Update README with Phase 1-3 features and add demo resources
  README.md
  demo-resources.csv
Due: none

Cleanup
  .mise.toml
  IMPLEMENTATION_PLAN.md
  package-lock.json
  package.json
Due: none

Cleanup
  frontend-next/package-lock.json
Due: none

fix(frontend): resolve bun install and test runner issues
  frontend-next/bun.lock
  frontend-next/vitest.config.ts
Due: frontend-lint, frontend-build, frontend-test

fix: Resolve CI build failures for Tailwind CSS v4
  .github/workflows/ci.yml
  Dockerfile.frontend
Due: none

feat: Add frontend integrations for Phase 1-3 backend features
  README.md
  frontend-next/src/components/AnalyticsDashboard.tsx
  frontend-next/src/components/BusinessHoursEditor.tsx
  frontend-next/src/components/CalendarExport.tsx
  frontend-next/src/components/QuotaDisplay.tsx
  frontend-next/src/components/ResourceGroupTree.tsx
  frontend-next/src/components/TimeSlotPicker.tsx
  frontend-next/src/components/UserPreferences.tsx
  frontend-next/src/components/WebhookSettings.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/reservations-tab.tsx
  frontend-next/src/lib/api.ts
Due: frontend-lint, frontend-build, frontend-test

feat: Add frontend integrations for Phase 1-3 backend features (#26)
  README.md
  frontend-next/src/components/AnalyticsDashboard.tsx
  frontend-next/src/components/BusinessHoursEditor.tsx
  frontend-next/src/components/CalendarExport.tsx
  frontend-next/src/components/QuotaDisplay.tsx
  frontend-next/src/components/ResourceGroupTree.tsx
  frontend-next/src/components/TimeSlotPicker.tsx
  frontend-next/src/components/UserPreferences.tsx
  frontend-next/src/components/WebhookSettings.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/reservations-tab.tsx
  frontend-next/src/lib/api.ts
Due: frontend-lint, frontend-build, frontend-test

fix: Update AnalyticsDashboard to fetch from correct API endpoints
  frontend-next/src/components/AnalyticsDashboard.tsx
Due: frontend-lint, frontend-build, frontend-test

fix: Correct API response field names in frontend components
  frontend-next/src/components/AnalyticsDashboard.tsx
  frontend-next/src/components/CalendarExport.tsx
Due: frontend-lint, frontend-build, frontend-test

Fixes
  .mise.toml
  app/analytics_service.py
  app/calendar_service.py
  app/config.py
  app/routers/calendar.py
  frontend-next/src/components/AnalyticsDashboard.tsx
  frontend-next/src/components/CalendarExport.tsx
Due: frontend-lint, frontend-build, frontend-test, check-init-files

Fixes
  frontend-next/src/components/WaitlistButton.tsx
  frontend-next/src/components/resources-tab.tsx
Due: frontend-lint, frontend-build, frontend-test

Fixes
  app/routers/business_hours.py
  frontend-next/src/lib/api.ts
Due: frontend-lint, frontend-build, frontend-test, check-init-files

Fixes
  frontend-next/package.json
Due: none

Fixes to CI
  frontend-next/package.json
Due: none

Fixes to CI
  frontend-next/package.json
  frontend-next/postcss.config.mjs
Due: none

Fixes to CI
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  Dockerfile.frontend
  frontend-next/package-lock.json
  frontend-next/package.json
  frontend-next/postcss.config.mjs
Due: none

Fixes to CI
  CHANGELOG.md
  README.md
  architecture.md
  docs/admin/analytics.md
  docs/admin/business-hours.md
  docs/admin/roles.md
  docs/admin/users.md
  docs/api-reference.md
  docs/api/authentication.md
  docs/api/overview.md
  docs/api/reservations.md
  docs/api/resources.md
  docs/api/users.md
  docs/api/webhooks.md
  docs/auth-guide.md
  docs/deployment.md
  docs/development.md
  docs/development/architecture.md
  docs/development/contributing.md
  docs/development/deployment.md
  docs/development/testing.md
  docs/getting-started/configuration.md
  docs/getting-started/installation.md
  docs/getting-started/quickstart.md
  docs/index.md
  docs/one-command-complete.md
  docs/one-command-setup.md
  docs/quick-start.md
  docs/safari-login-fix.md
  docs/troubleshooting.md
  docs/user-guide/calendar.md
  docs/user-guide/dashboard.md
  docs/user-guide/reservations.md
  docs/user-guide/resources.md
  docs/user-guide/waitlist.md
  frontend-next/README.md
  requirements.txt
Due: none

Precommit hooks
  .pre-commit-config.yaml
  scripts/pre-push-ci.sh
Due: none

Rate limiting reduction
  .env.example
  apps/backend/app/core/rate_limiter.py
  docker-compose.registry.yml
  docker-compose.yml
Due: none

Fix: Scheduling bug
  apps/backend/app/availability_service.py
  apps/backend/app/database.py
  apps/backend/app/schemas.py
Due: none

Fix: Scheduling bug
  apps/backend/app/availability_service.py
Due: none

Fix: Scheduling bug
  scripts/pre-push-ci.sh
Due: none

Fix: Playwright tests
  apps/backend/app/database.py
  apps/backend/app/main.py
  apps/frontend/e2e/global-setup.ts
Due: none

docs: update README with new web application screenshots
  README.md
  screenshots/Web Interface/analytics.png
  screenshots/Web Interface/calendar.png
  screenshots/Web Interface/dashboard.png
  screenshots/Web Interface/login.png
  screenshots/Web Interface/my_reservations.png
  screenshots/Web Interface/resources.png
Due: none

docs: add technology stack badges to README
  README.md
Due: none

Fix: Redirect token
  apps/frontend/src/lib/api.ts
Due: none

Fix: README.md - Compressed dark theme screenshots
  README.md
  screenshots/Web Interface/account-settings.png
  screenshots/Web Interface/calendar-export.png
  screenshots/Web Interface/calendar-subscription.png
  screenshots/Web Interface/dark-dashboard.png
  screenshots/Web Interface/dark-login.png
  screenshots/Web Interface/dark-register.png
  screenshots/Web Interface/dark-reservations.png
  screenshots/Web Interface/dark-resources.png
  screenshots/Web Interface/language-selector.png
  screenshots/Web Interface/mfa-setup.png
  screenshots/Web Interface/notifications-empty.png
  screenshots/Web Interface/notifications-panel.png
  screenshots/Web Interface/resource-business-hours.png
  screenshots/Web Interface/resource-schedule.png
  screenshots/Web Interface/waitlist-join.png
  screenshots/Web Interface/waitlist-view.png
  screenshots/Web Interface/webhook-create.png
  screenshots/Web Interface/webhook-events.png
  screenshots/Web Interface/webhook-history.png
  screenshots/Web Interface/webhooks-list.png
Due: none
