Repository sylvester-francis/Resource-Reserver: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

pytest-check:
  name: pytest (Python tests)
  entry: pytest
  language: system
  pass_filenames: false
  always_run: false
  args:
  - --maxfail=1
  - --tb=short
  - -q

frontend-lint:
  name: ESLint (Frontend)
  entry: bash -c 'cd frontend-next && bun run lint'
  language: system
  pass_filenames: false

frontend-build:
  name: Frontend build check
  entry: bash -c 'cd frontend-next && bun run build'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-test:
  name: Vitest (Frontend tests)
  entry: bash -c 'cd frontend-next && bun run test'
  language: system
  pass_filenames: false

check-init-files:
  name: Check for __init__.py files
  entry: bash -c 'find app -name "*.py" | head -1 | xargs dirname | xargs -I{} test -f {}/__init__.py'
  language: system
  pass_filenames: false

Add in-app notifications
  PROGRESS_TRACKER.md
  app/main.py
  app/models.py
  app/routers/__init__.py
  app/routers/notifications.py
  app/schemas.py
  app/services.py
  frontend-next/src/components/NotificationBadge.tsx
  frontend-next/src/components/NotificationCenter.tsx
  frontend-next/src/components/NotificationItem.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/hooks/useNotifications.ts
  frontend-next/src/lib/api.ts
  frontend-next/src/types/index.ts
  tests/test_api/test_notifications.py
Due: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

Format notification tests
  tests/test_api/test_notifications.py
Due: pytest-check

Adding notifications - Test fix
  app/services.py
Due: check-init-files

Feature : Implement Notifications (#16)
  PROGRESS_TRACKER.md
  app/main.py
  app/models.py
  app/routers/__init__.py
  app/routers/notifications.py
  app/schemas.py
  app/services.py
  frontend-next/src/components/NotificationBadge.tsx
  frontend-next/src/components/NotificationCenter.tsx
  frontend-next/src/components/NotificationItem.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/hooks/useNotifications.ts
  frontend-next/src/lib/api.ts
  frontend-next/src/types/index.ts
  tests/test_api/test_notifications.py
Due: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

Adding recurrence
  PROGRESS_TRACKER.md
  app/main.py
  app/models.py
  app/schemas.py
  app/services.py
  app/utils/recurrence.py
  frontend-next/src/components/RecurrenceSelector.tsx
  frontend-next/src/components/RecurringBadge.tsx
  frontend-next/src/components/reservation-dialog.tsx
  frontend-next/src/components/reservations-tab.tsx
  frontend-next/src/lib/api.ts
  frontend-next/src/lib/date.ts
  frontend-next/src/types/index.ts
  tests/test_api/test_reservations.py
  tests/test_services/test_recurrence.py
Due: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

Adding recurrence (#17)
  PROGRESS_TRACKER.md
  app/main.py
  app/models.py
  app/schemas.py
  app/services.py
  app/utils/recurrence.py
  frontend-next/src/components/RecurrenceSelector.tsx
  frontend-next/src/components/RecurringBadge.tsx
  frontend-next/src/components/reservation-dialog.tsx
  frontend-next/src/components/reservations-tab.tsx
  frontend-next/src/lib/api.ts
  frontend-next/src/lib/date.ts
  frontend-next/src/types/index.ts
  tests/test_api/test_reservations.py
  tests/test_services/test_recurrence.py
Due: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

Adding timezone fixes
  app/main.py
  frontend-next/src/components/reservations-tab.tsx
Due: frontend-lint, frontend-build, frontend-test, check-init-files

Adding timezone fixes (#18)
  app/main.py
  frontend-next/src/components/reservations-tab.tsx
Due: frontend-lint, frontend-build, frontend-test, check-init-files

Adding timezone fixes
  frontend-next/src/components/reservations-tab.tsx
Due: frontend-lint, frontend-build, frontend-test

Adding websockets
  PROGRESS_TRACKER.md
  app/main.py
  app/services.py
  app/websocket.py
  frontend-next/src/app/layout.tsx
  frontend-next/src/components/LiveIndicator.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/resources-tab.tsx
  frontend-next/src/contexts/WebSocketContext.tsx
  frontend-next/src/hooks/useWebSocket.ts
  tests/test_websocket.py
Due: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

Adding websockets (#19)
  PROGRESS_TRACKER.md
  app/main.py
  app/services.py
  app/websocket.py
  frontend-next/src/app/layout.tsx
  frontend-next/src/components/LiveIndicator.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/components/resources-tab.tsx
  frontend-next/src/contexts/WebSocketContext.tsx
  frontend-next/src/hooks/useWebSocket.ts
  tests/test_websocket.py
Due: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

Adding websockets
  frontend-next/src/contexts/WebSocketContext.tsx
Due: frontend-lint, frontend-build, frontend-test

Adding websockets
  .mise.toml
  app/services.py
  frontend-next/src/components/health-dialog.tsx
  pyproject.toml
  requirements.txt
Due: frontend-lint, frontend-build, frontend-test, check-init-files

Adding websockets
  .mise.toml
  frontend-next/src/components/pages/dashboard-client.tsx
Due: frontend-lint, frontend-build, frontend-test

Feature/build fix (#20)
  .mise.toml
  app/services.py
  frontend-next/src/components/health-dialog.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/contexts/WebSocketContext.tsx
  pyproject.toml
  requirements.txt
Due: frontend-lint, frontend-build, frontend-test, check-init-files

feat: Add waitlist & resource availability alerts (PR #8)
  app/main.py
  app/models.py
  app/routers/waitlist.py
  app/schemas.py
  app/services.py
  frontend-next/src/components/WaitlistButton.tsx
  frontend-next/src/components/WaitlistManager.tsx
  frontend-next/src/components/WaitlistStatus.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/lib/api.ts
  frontend-next/src/types/index.ts
  tests/test_api/test_waitlist.py
Due: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

feat: Add waitlist & resource availability alerts (PR #8) (#21)
  app/main.py
  app/models.py
  app/routers/waitlist.py
  app/schemas.py
  app/services.py
  frontend-next/src/components/WaitlistButton.tsx
  frontend-next/src/components/WaitlistManager.tsx
  frontend-next/src/components/WaitlistStatus.tsx
  frontend-next/src/components/pages/dashboard-client.tsx
  frontend-next/src/lib/api.ts
  frontend-next/src/types/index.ts
  tests/test_api/test_waitlist.py
Due: pytest-check, frontend-lint, frontend-build, frontend-test, check-init-files

docs: Update documentation for v2.1.0 features
  README.md
  app/main.py
Due: check-init-files

Adding Release
  CHANGELOG.md
  app/services.py
Due: check-init-files

Adding CLI updates
  .gitignore
  PROGRESS_TRACKER.md
  README.md
  app/services.py
  cli/auth_commands.py
  cli/client.py
  cli/config.py
  cli/main.py
  cli/ui.py
  tests/test_cli/conftest.py
  tests/test_cli/test_auth_cli.py
  tests/test_cli/test_reservations_cli.py
  tests/test_cli/test_resources_cli.py
  tests/test_cli/test_waitlist_cli.py
Due: pytest-check, check-init-files

Adding CLI updates
  pyproject.toml
Due: none

Adding CLI updates
  cli/main.py
Due: none

Adding CLI user friendly messages
  cli/client.py
  cli/main.py
Due: none

feat: Add Phase 1 infrastructure - Redis caching and Email notifications
  .env.example
  app/config.py
  app/core/__init__.py
  app/core/cache.py
  app/email_service.py
  app/main.py
  app/models.py
  app/schemas.py
  app/services.py
  app/templates/email/base.html
  app/templates/email/reservation_confirmation.html
  app/templates/email/reservation_reminder.html
  app/templates/email/resource_available.html
  app/templates/email/waitlist_update.html
  docker-compose.yml
  requirements.txt
  tests/test_cache.py
Due: pytest-check, check-init-files

feat: Add Business Hours and Calendar Integration (Phase 1 continued)
  app/availability_service.py
  app/calendar_service.py
  app/main.py
  app/models.py
  app/routers/business_hours.py
  app/routers/calendar.py
  app/schemas.py
  requirements.txt
Due: check-init-files

fix: Upgrade pydantic to 2.12.5 for fastapi-mail compatibility
  requirements.txt
Due: none

fix: Update typing-inspection to 0.4.2 for pydantic 2.12.5 compatibility
  requirements.txt
Due: none

fix: Upgrade safety to 3.7.0 to resolve pydantic version conflict
  requirements.txt
Due: none

feat: Phase 1 - Core Infrastructure & UX Improvements (#23)
  .env.example
  app/availability_service.py
  app/calendar_service.py
  app/config.py
  app/core/__init__.py
  app/core/cache.py
  app/email_service.py
  app/main.py
  app/models.py
  app/routers/business_hours.py
  app/routers/calendar.py
  app/schemas.py
  app/services.py
  app/templates/email/base.html
  app/templates/email/reservation_confirmation.html
  app/templates/email/reservation_reminder.html
  app/templates/email/resource_available.html
  app/templates/email/waitlist_update.html
  docker-compose.yml
  requirements.txt
  tests/test_cache.py
Due: pytest-check, check-init-files

feat: Add comprehensive health checks and Prometheus metrics
  app/core/metrics.py
  app/main.py
  tests/test_health_endpoints.py
  tests/test_metrics.py
Due: pytest-check, check-init-files

feat: Add Alembic database migrations setup
  alembic.ini
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  migrations/versions/96592b2dae60_initial_schema.py
  requirements.txt
Due: none

feat: Add analytics dashboard with resource utilization insights
  app/analytics_service.py
  app/main.py
  app/routers/analytics.py
  tests/test_analytics.py
Due: pytest-check, check-init-files

feat: Add approval workflow for resource reservations
  app/approval_service.py
  app/main.py
  app/models.py
  app/routers/approvals.py
  app/schemas.py
  migrations/versions/20b26ba734e7_add_approval_workflow_models.py
  tests/test_approvals.py
Due: pytest-check, check-init-files

feat: Add advanced search with saved searches and suggestions
  app/main.py
  app/models.py
  app/routers/search.py
  app/schemas.py
  app/search_service.py
  migrations/versions/20b26ba734e7_add_approval_workflow_models.py
  migrations/versions/d5407f13c497_add_saved_searches.py
  tests/test_search.py
Due: pytest-check, check-init-files

feat: Add bulk operations for reservations (PR #10)
  app/bulk_service.py
  app/main.py
  app/routers/bulk.py
  tests/test_bulk.py
Due: pytest-check, check-init-files

fix: Import full models module in test_auth_endpoints to load all tables
  tests/test_auth_endpoints.py
Due: pytest-check

fix: Refactor test_auth_endpoints to use fixture-based database setup
  tests/test_auth_endpoints.py
Due: pytest-check

feat: Phase 2 - Advanced Features & Operations (#24)
  alembic.ini
  app/analytics_service.py
  app/approval_service.py
  app/bulk_service.py
  app/core/metrics.py
  app/main.py
  app/models.py
  app/routers/analytics.py
  app/routers/approvals.py
  app/routers/bulk.py
  app/routers/search.py
  app/schemas.py
  app/search_service.py
  migrations/README
  migrations/env.py
  migrations/script.py.mako
  migrations/versions/20b26ba734e7_add_approval_workflow_models.py
  migrations/versions/96592b2dae60_initial_schema.py
  migrations/versions/d5407f13c497_add_saved_searches.py
  requirements.txt
  tests/test_analytics.py
  tests/test_approvals.py
  tests/test_auth_endpoints.py
  tests/test_bulk.py
  tests/test_health_endpoints.py
  tests/test_metrics.py
  tests/test_search.py
Due: pytest-check, check-init-files

feat: Add comprehensive audit log system (PR #11)
  app/audit_service.py
  app/main.py
  app/models.py
  app/routers/audit.py
  migrations/versions/a1b2c3d4e5f6_add_audit_logs_table.py
  tests/test_audit.py
Due: pytest-check, check-init-files

feat: Add API versioning infrastructure (PR #13)
  app/core/versioning.py
  app/main.py
  tests/test_versioning.py
Due: pytest-check, check-init-files

Path conditions:
  pytest-check: any of: ^tests/.*\.py$
  frontend-lint: any of: ^frontend-next/.*\.(ts|tsx|js|jsx)$
  frontend-build: any of: ^frontend-next/.*\.(ts|tsx|js|jsx|css)$
  frontend-test: any of: ^frontend-next/.*\.(ts|tsx)$
  check-init-files: any of: ^app/.*\.py$
